/***************************************************************/
/* Code for header and footer */
/***********************************************************/

/* css reset to prevent browser default style */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
/* default small screen css style start from here mobile first design */
html {
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #deded8;
  /* font-size: 1rem; */
}

/*************************************************************************************/
/*top navigation bar code start here */
/* one bar for logo and one for menu item hidden by default*/
/* sticky nav bar will remain visible while scrolling */
/********************************************************************************/
header{
    background-color: rgb(0, 0, 0);
    color: white;
    line-height: 1.5;
    position: sticky;
    top:0;
}
/* Nav bar link underline and color modification */
header a{
  text-decoration: none;
  color: inherit;
}
/* Main menu default is hidden in mobile view */
.main-menu{
    display: none;
    text-align: center;
    font-size: 1rem;
}
/* main nav bar are list item so ball should be removed from list ul */
.main-menu ul{
  list-style: none;
}
/* links should be appear as button */
.main-menu li{
  border-bottom: solid 1px rgb(44, 44, 44);
  padding: 8px;
}
/* subscription button should be highlited */
#subscribe-btn{
  background-color: rgb(245, 56, 56);
}

/* mobile navigation bar decoration full width flex items */

.mobile-menu{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 0 16px;
}
/*****************************************************************************************/
/* footer code start here this footer will appear in every page*/
/* footer for each page with address and social media information */
/* address and social media links should be separated left and right */
/***********************************************************************************/
footer{
    background-color: rgb(110, 107, 107);
    color: white;
    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  /* footer item margin between each other */
footer a{
  color: inherit;
  font-size: 2rem;
  margin-right: 10px;
  margin-top: 16px;
}
/* footer items margin from both sides */
.social-media{
    margin-left: 10px;
}
.contact{
  margin-right: 10px;
}


/***************************************************************/
/* Code for tablet view */
/* main menu will be visible horizental */
/***************************************************************/
@media only screen and (min-width: 580px){
  .mobile-menu{
    margin:0;
    padding: 0px;
  }
  /* mobile home icon will be hidden*/
  #menu-icon{
    display: none;
  }
  
  .home-icon{
    display: none;
  }
  /* main menu item will be visible now */
  /* main menu items alighnment and visibilty */
  .main-menu{
    display: block;
    font-size: 1rem;
    }
  .main-menu ul{
    display: flex;
    justify-content: start;
    border-top: solid 1px rgb(120, 111, 111);
    /* margin:0px; */
  }
  .main-menu li{
    border-bottom: none;
    padding: 12px 12px;
    border-radius: 2px;
    margin-left: 5px;
  }
  .main-menu li:hover{
      background-color: rgba(85, 84, 84, 1);
  }
  #subscribe-btn{
    margin-left: auto;
    margin-right: 16px;
  }
  #subscribe-btn:hover{
    background-color: rgba(245, 56, 56, 0.8);
  }

}
/***************************************************************/
/* Code for desktop view*/
/* main menu will be visible horizenatal dirction */
/***************************************************************/
@media only screen and (min-width: 900px){
  #subscribe-btn{
    margin-left: auto;
    margin-right: 40px;
  }
  .main-menu{
    display: block;
    font-size: 1.25rem;
    }
  
  .social-media{
    margin-left: 32px;
  }
  .contact{
    margin-right: 32px;
  }
}
