
h1, h2, h3, h4, h5 {
color: rgb(100, 136, 128);
margin: 0.5rem;
}
p{
  margin: 0.5rem;
}

.headline{
color: rgb(116, 111, 111);
line-height: 1.5;
padding: 10px 10px 10px 20px;
text-align: center;
font-size: 1rem;
border-bottom: solid 1px #bebebc;
}
.headline p{
padding: 0.5rem;
}
.register-btn{
display: inline-block;
color: rgb(116, 111, 111);
border: 1px solid rgb(116, 111, 111);
border-radius: 5px;
margin: 0;
text-transform: uppercase;
text-decoration: none;
padding: 10px 30px
}


.gallery{
/* background-color: rgb(255, 255, 246); */
width: 100%;
/* max-width: 1245; */
margin: 0 auto;
padding: 0.5rem;
/* font-size: 1.5rem; */
}
.gallery img{
display: block;
width: 100%;
text-align: start;
margin-bottom: 0.5rem;
}
.gallery section{
padding: 8px;
text-align: left;
}



label{
  display: block;
  margin: 16px;
  text-align: right;
}

fieldset{
  padding: 16px;
  /* width: 100%; */
  margin-bottom: 10px;
  text-align: left;
}
form{
  padding: 30px;
  max-width:500px;
}
#reg-form-btn{
  color: rgb(0,0,0);
  padding: 10px 32px;
  border: 1px solid rgb(116, 111, 111);
  border-radius: 2px;
}
#reg-form-btn :hover{
  background-color: rgb(116, 111, 111);
}

/*****************************************************************************/
.media-images {
  display: flex;
  width: 100%;
  height: 100vh;
}
.img-box {
  flex: 1;
  overflow: hidden;
  transition: 1s;
  margin: 0 1%;
}
.img-box > img {
  width: 100%;
  height: 100%;
 
  object-fit:contain; 
  transition: .5s;
}

.img-box:hover { flex: 1 1 50%; }
.img-box:hover > img {
  width: 60%;
  height: 100%;
}
/*******************************************************************************************/

table{
  border: solid 2px #f0eded;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
}

td{
    padding: 10px;
    text-align:center;
    
}
th{
    background-color: #5b5e5b;
    border: solid 1px rgb(156, 162, 159);
    border-top-right-radius: 3px;
    padding: 16px;
    color: rgb(255, 255, 255);
}

tr{
    opacity: 0.7;
}

tr td:nth-child(1){
    text-align: left;
}

tr:hover{
    opacity: 1;
}
/*********************************************************************************************************************************************/










@media only screen and (min-width: 580px){


.card h3{
  display: none;
}
.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  column-gap: 20px;
}
.gallery h4{
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
}
.gallery img{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery p{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  justify-self: start;
  align-self: center;
}

}
@media only screen and (min-width: 900px){

.card h3{
  display: block;
}
.gallery{
  display: flex;
  justify-content: space-between;
  width:75%;
  max-width: 1000px;
}
.card{
  display: block;
  width: 25%;
}
.card img{
  display: block;
  height: 50%;
  
}
}