*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
} 

.main-menu li{
    border-bottom: solid 1px rgb(44, 44, 44);
    padding: 16px;
}
.main-menu{
    display: none;
    margin: 0px;
    list-style: none;
    text-align: center;
}
header a{
    text-decoration: none;
    color: inherit;
}
header{
    background-color: rgb(0, 0, 0);
    color: white;
    line-height: 1.5;
    /* padding: 24px; */
}
.mobile-menu{
    font-size: 4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
    padding: 24px;
}

/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    color: white;
     
}

.main-menu{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

header a{
    text-decoration: none;
    color: inherit;
   
} */








/* html {
    background-color: #deded8;
    font-family: trebuchet, geneva, sans-serif;
    font-size: 1rem;
  }
  body {
    margin: 0;
  }
  article, aside, footer, header {
    padding: 0.5rem;
    box-sizing: border-box;
  }
  header {
    background-color: #333;
    color: #ccc;
    text-align: center;
    border-bottom: 1px solid;
  }
  aside {
    background-color: white;
  }
  
  
  nav {
    display: flex;
    background-color: black;
    padding: 10px 0;
  }
  nav a {
    flex: auto;
    text-align: center;
    background: #ccc;
    color: black;
    margin: 0 5px;
    padding: 5px 0;
    text-decoration: none;
  }
  nav a:hover {
    outline: 1px solid red;
    color: red;
    text-decoration: underline;
  } */
  
  /* larger screen */
  /* @media screen and (min-width: 30rem) {
    body {
      display: flex;
      flex-direction: column;
      max-width: 75rem;
      margin: auto;
    }
    main {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      border-bottom: 0.5rem solid;
    }
    nav, header {
      order: -1;
    }
    article {
      flex: 75%;
    }
    aside {
      flex: 25%;
    }
  } */